/**
 * Title: 			Variables
 * SASS File: 		_variables.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	11 March 2015
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Colours


// Colours
// ---------------------------------------------------------------------------------------
$context-background-colour 		: lighten($grey-blue-light, 15%);
$context-line-colour			: lighten($grey-blue-light, 5%);
$context-line-hover-colour 		: lighten($grey-blue-light, 13%);


